@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");

.neon-button {
  font-family: "Comfortaa", cursive;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  transition: 0.5s;
  overflow: hidden;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
