body {
  width: 100vw !important;
  background-image: url('./assets/Simple_background.jpg') !important;
  background-size: cover !important;
  background-position: center !important; 
  background-repeat: no-repeat ;
  background-attachment: fixed !important;  
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #301E67, #5B8FB9);
    border-radius: 10px;
  }
}

/* @media (min-width: 768px) {
  body {
    background-image: url('../src/assets/background-medium.jpg');
  }
}

@media (min-width: 1920px) {
  body {
    background-image: url('../src/assets/background-large.jpg');
  }
} */

