body {
  width: 100vw !important;
  background-image: url('./assets/background.jpg') !important;
  background-size: cover !important;
  background-position: center !important; 
  background-repeat: no-repeat ;
  background-attachment: fixed !important;  
  
}

/* @media (min-width: 768px) {
  body {
    background-image: url('../src/assets/background-medium.jpg');
  }
}

@media (min-width: 1920px) {
  body {
    background-image: url('../src/assets/background-large.jpg');
  }
} */

.main-container {


  
}